In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('/Users/amankonar/ForPython/basics_py/ML_py/csv files/Sewage_sludge - Sheet1.csv')

In [3]:
df

        Feedstock  TimeStamps  Y250  Y300  Y350
0   Sewage Sludge         0.0  0.00  0.00  0.00
1   Sewage Sludge         2.5   NaN   NaN   NaN
2   Sewage Sludge         5.0  0.10  0.17  0.08
3   Sewage Sludge        10.0  0.12  0.16  0.16
4   Sewage Sludge        15.0   NaN   NaN   NaN
5   Sewage Sludge        20.0  0.21  0.20  0.16
6   Sewage Sludge        25.0   NaN   NaN   NaN
7   Sewage Sludge        30.0  0.15  0.15  0.18
8   Sewage Sludge        35.0   NaN   NaN   NaN
9   Sewage Sludge        40.0   NaN   NaN   NaN
10  Sewage Sludge        45.0   NaN   NaN   NaN
11  Sewage Sludge        50.0   NaN   NaN   NaN
12  Sewage Sludge        55.0   NaN   NaN   NaN
13  Sewage Sludge        60.0  0.16  0.20  0.14